@import "theme/child_theme_variables";  // <--------- Add your variables into this file. Also add variables to overwrite Bootstrap variables here
@import "assets/bootstrap4";// <--------- Loads Bootstrap3 or Bootstrap4. Change from /bootstrap3 to /bootstrap4 Watch out! just for testing in the moment!
@import "../src/sass/understrap/understrap/understrap";// <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP
//@import "../src/sass/understrap/theme/contact-form7";// <-------- Loads some basic styling for contact form 7 plugin

//Optional files - If you don´t use the corresponding scripts/fonts comment em out
@import "assets/font-awesome"; // <------- Font Awesome Icon font
@import "assets/underscores"; // <------- Underscores media styles
//@import url("https://use.typekit.net/gnx5dlc.css");
@import url("https://use.typekit.net/brw5wfa.css");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Includes //
@import "theme/header";
@import "theme/footer";

// Components //
@import "theme/type";
@import "theme/hero";
@import "theme/split-hero";
@import "theme/buttons";
@import "theme/story-card";
@import "theme/card";
@import "theme/gravity-forms";
@import "theme/serve-calendar";
@import "theme/tables";

// Layouts //
@import "theme/child_theme";  // <--------- Add your styles into this file
@import "theme/single";
@import "theme/pages/form-page";
@import "theme/pages/livestream";

// Pages //
