.btn {
  text-transform: uppercase;
  border-radius: 0;
  font-family: interstate-condensed, sans-serif;
  font-weight: 800;
  font-style: normal;

  i {
    font-size: 1.2rem;
    position: relative;
    top:3px;
  }

  &.btn-outline-light {
    border-width: 2px;
    &:hover {
      background-color: rgba(255,255,255, 1);
    }
  }

}
