body {
  line-height: 2rem;
  p {
    margin-bottom:2rem;
  }
}

.container {
  padding-left:30px;
  padding-right:30px;
}

.wrapper {
  @include media-breakpoint-up(md) {
    padding: 80px 0;
  }

  &.section-white {
    background-color: #fff;
  }

  .entry-content {
    figure {
      margin:2rem 0;

      figcaption.wp-caption-text {
        font-size:.7rem;
        color:$gray-700;
        text-align: center;
        line-height: 1.5rem;
        @include media-breakpoint-up(md) {
          font-size:.85rem;
          line-height: 2rem;
        }
      }
    }


}

.section-intro {
  text-align: center;
}

blockquote {
  font-size: 1.2rem;
  border-bottom: 1px solid $blue;
  margin:1rem 0;
  padding: 0 0 1.5rem 0;
  line-height: 1.8rem;
  color:$gray-800;
  p {
    margin-bottom: 0;
  }
  cite {
    font-size: 1rem;
    display: block;
  }
  @include media-breakpoint-up(md) {
    margin:1rem 0 2rem 0;
    font-size: 2rem;
    line-height: 3rem;
  }

  .badge {
    font-weight: normal;
    border-radius: 0;
    font-size:1rem;
    text-transform: uppercase;
  }
}
}

.modal {
  .modal-body {
    blockquote {
      margin:2rem 0;
    }
  }
}

.page-hero {
  width: 100%;
  display: flex;
  padding:2rem 0;
  background-color: #111;
  color:#fff;
  @include media-breakpoint-up(md) {
    padding:8vh 0 6vh 0;
    height: 100%;
  }
  .page-hero-content {
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 1.8rem;
      border-top: 2px solid #fff;
      display: inline-block;
      @include media-breakpoint-up(md) {
        font-size: 3.5rem;
      }
    }

    p {
      font-size: 0.8rem;
      line-height: 1.5rem;
      @include media-breakpoint-up(md) {
        font-size: 0.9rem;
        line-height: 2rem;
      }
    }

    .btn-group {
      .btn {
        &.active {
          color: $black;
        }
      }
    }
  }
}


.page-header {
  h1 {
    font-size: 4rem;
    border-top: 2px solid $gray-900;
    margin-bottom: 1.5rem;
  }
  .page-header--intro {
    font-style: italic;
    color: $gray-600;
    font-size: 1.2rem;
  }
}

p.more-questions {
  text-align: center;
  margin-top: 1.5rem;
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}

section.section-weekly-events {
  h2 {
    margin-bottom: 3rem;
  }
}

section.section-image {
  min-height:60vh;
  background-color:$black;
  position: relative;
  overflow: hidden;

  &.section-image-mission {
    height: 80vh;
    &:before {
      background-image:url(/wp-content/themes/heartland-vineyard/images/textured-bg.jpg);
      height: 80vh;
      opacity: .2;
    }
    h2 {
      font-size: 2.5rem;
      line-height: 1;
      margin-bottom:2.5rem;
      @include media-breakpoint-up(md) {
        font-size: 6rem;
        line-height: 1;
      }
    }
  }

  &.section-image-boundless {
    //height: 80vh;
    @include media-breakpoint-up(md) {
      height: 80vh;
    }
    &:before {
      background-image:url(/wp-content/themes/heartland-vineyard/images/our-community.jpg);
      height: 80vh;
      opacity: .5;
    }
    h2 {
      border-bottom:1px solid #fff;
      padding-bottom:1rem;
      font-size: 2.5rem;
      @include media-breakpoint-up(md) {
        font-size: 4rem;
      }
      span {
        color:$orange;
      }
    }
    p {
      font-size: 2rem;
      font-family: study, serif;
      font-style: normal;
      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }
    }
  }

  &:before {
    position: absolute;
    content:"";
    width: 100vw;
    min-height: 60vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    top:0;
    opacity: .6;
    @include media-breakpoint-up(md) {
      background-attachment: fixed;
    }
  }
  .badge {
    position: absolute;
    left: 0;
    top:0;
    border-radius: 0;
    font-size: .7rem;
    padding: .5rem .5rem;
    text-transform: uppercase;
    font-weight: normal;
    color:$bright-green;
    background-color: $black;
    @include media-breakpoint-up(md) {
      font-size: 1rem;
      padding: .5rem 1.5rem;
    }
  }
  .container {
    color: #fff;
    z-index: 50;
    max-width:1140px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;

    h3 {
      line-height: 2.5rem;
      @include media-breakpoint-up(md) {
        line-height: 4rem;
      }

      span.circle {
        font-size: 2.5rem;
        color: $black;
        background: #fff;
        width:2.5rem;
        height: 2.5rem;
        border-radius: 50rem;
        display: inline-block;
        text-align: center;
        margin:0 .75rem 0 0;
        @include media-breakpoint-up(md) {
          width:4rem;
          height: 4rem;
          font-size: 4rem;
          line-height: 3.2rem;
        }
      }
      span.mission {
        color: $orange;
        font-size: 2rem;
        font-family: interstate-condensed, sans-serif;
        font-weight: 800;
        font-style: normal;
        text-transform: uppercase;
        @include media-breakpoint-up(md) {
          font-size: 3rem;
        }
      }
    }

    .mission-desc {
      font-family: study, serif;
      font-style: normal;
      font-size: 1.2rem;
      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
      }
    }

  }

}

section.section-cta {
  background-color: $gray-900;
  color:#fff;
  text-align: center;
  padding:50px 0;
  @include media-breakpoint-up(md) {
    padding:100px 0;
  }

  .container {
    max-width: 700px;
  }
  h2 {
    font-size: 1.6rem;
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
    span {
      display: inline-block;
      border:1px solid #fff;
      padding: .5rem .75rem;
    }
  }
}

section.section-dark {
  background: #111;
  color: $gray-300;

  h1, h2, h3, h4, h5 {
    color: #fff;
  }
}

section.section-teal {
  background: $teal;
  color: $gray-300;

  h1, h2, h3, h4, h5 {
    color: #fff;
  }
}

// Widgets
h3.widget-title {
  font-size: 1rem;
  border-bottom:1px solid $gray-800;
  padding: .5rem 0;
}

// Arrow link
.arrow-link {
  color: #fff;
  display: inline-block;
  padding: .5rem;

  i {
    font-size: 1.4rem;
    position: relative;
    top:3px;
    transition: all .5s ease-in-out;
  }

  &:hover {
    text-decoration: none;
    color:rgba(#fff, .8);
    i {
      transform: translateX(5px);
    }

  }
  &.arrow-link-dark {
    color: $black;
    &:hover {
      color:$teal;
    }
  }
}

.badge-serve-week.badge {
  background-color:transparent;
  border:1px solid transparent;
  padding: 1.6rem 0;
  font-weight: normal;
  font-size:1rem;
  text-transform: uppercase;
  color:#fff;
  border-radius: 10rem;
  height:4rem;
  width: 4rem;
  margin-left: .5rem;
  float:right;
  position: relative;
  top:-1rem;

  &.badge-orange {
    background-color: $orange!important;

  }
  &.badge-purple {
    background-color:$purple!important;

  }
  &.badge-blue {
    background-color:$blue!important;

  }
  &.badge-green {
    background-color:$green!important;

  }
}

html.app-view {
  .navbar.navbar-main, .footer-main {
    display:none;
  }
  body {
    margin-top:0;
  }
  .page-template-default .section-cta {
    display: none;
  }
}
