// Custom Variables
$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

$red:         #CA4628 !default;
$orange:      #E3733C !default;
$yellow:      #FBCC25 !default;

$cyan:         #8EBBC0 !default;
$green:        #0E6137 !default;
$bright-green: #C6CE1F !default;
$manatee:      #51514C !default;

$teal:        #006875 !default;
$blue:        #0060A6 !default;
$light-blue:  #96B1D5 !default;

$purple:      #6B1447 !default;
$pink:        #CBADB0 !default;

$colors: (
  blue: $blue,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
) !default;

$theme-colors: (
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $orange,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
) !default;

$font-family-sans-serif: interstate,sans-serif;
