.footer-main {
  background:#111;
  font-size: .9rem;
  color: $gray-600;
  .container {
    //max-width: 98vw;
  }

  .contact-info {
    padding-top:3rem;
    padding-left: 1em;

    h4 {
      font-size:1.3rem;
      @include media-breakpoint-up(md) {
        font-size:1.5rem;
      }
    }

    .contact-info--service-times {
      color:#fff;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }

      span.service-date {
        color:$orange;
      }

      &.serve-week-purple {
        span.service-date {
          //color:lighten($purple, 10);
        }
      }
      &.serve-week-orange {
        span.service-date {
          //color:lighten($orange, 10);
        }
      }
      &.serve-week-blue {
        span.service-date {
          //color:$light-blue;
        }
      }
      &.serve-week-green {
        span.service-date {
          //color:$green;
        }
      }
    }
  }

  .serve-team-info {
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: right;
    }
    .serve-link {
      padding:0;
      font-size: .85rem;
    }
  }

  a:not(.btn) {
    color: $cyan;
    font-family: interstate-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.125rem;
    &:hover {
      color:lighten($cyan, 10);
      text-decoration: none;
    }
  }

  a.btn.btn-outline-light {
    &:hover {
      color:$black;
    }
  }

  #wrapper-footer-full {
    background:#111;
    padding:0;

    h3.widget-title {
      color:#fff;
      margin-bottom:1rem;
      font-size: 1.5rem;
    }

    .footer-widget {
      line-height: 1.5rem;
      padding: $spacer * 2;
      ul {
        padding-left: 0;
        list-style: none;

        li {
          margin-bottom: .5rem;
          text-transform: uppercase;
          font-size: .7rem;
        }
      }

    }

    #gform_widget-2 {
      #gform_3 {
        .gfield input {
          background:$gray-800;
          border-radius: 0;
          color: #fff;
          border: 1px solid $gray-900;
          outline:0;
          font-size: 1.4rem;
          padding:.5rem;
          &:focus {
            border-color: $light-blue;
          }
        }
        label {
          color:$gray-600;
        }
        #gform_submit_button_3 {
          color: #fff;
          border:1px solid #fff;
          background-color: rgba(255,255,255,0);
          padding: .5rem 1rem;
          font-size: 1rem;
          transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          cursor: pointer;
          text-transform: uppercase;
          &:hover {
            background-color: rgba(255,255,255,.15);
          }
        }
        .validation_error {
          color:#fff;;
          border:1px solid $red;
        }
        .gfield.gfield_error {
          background: none;
          border:none;

        }
      }

    }
  }

}

.copyright {
  padding:2rem 0;
  background:#111;
  border-top: 1px solid $gray-900;
  color: $gray-600;
  text-align: center;
  font-size: .7rem;

  @include media-breakpoint-up(md) {
    padding:2rem 0 0 0;

    .church-info {
      text-align: left;
      font-size: .75rem;
    }
    .social-media {
      text-align: right;
    }
  }

  .container {
    //max-width: 98vw;
  }
  p {
    line-height: 1.2rem;
  }
}

// Social Media section-white
.social-media {

  a {
    font-size: 1.8rem!important;
    display: inline-block;
    margin-right: .75rem;
    color: $cyan;
    &:hover {
      color:lighten($cyan, 10);
    }
  }
}
