.gform_wrapper {
  div.validation_error {
    color: #fff!important;
    border:none!important;
    font-weight: normal!important;
    background-color: rgba($orange, .3);
  }
  .gsection {
    border-bottom-color: $gray-800!important;
    margin-bottom: 2rem!important;
  }
  form {
    li.gfield {
      margin-bottom: 5rem;
      &.gfield_error {
        border:none;
        background:none;
        .ginput_container input[type=text],
        .ginput_container input[type=tel],
        .ginput_container input[type=email],
        .ginput_container textarea {
          border:none!important;
          border-bottom:2px solid $orange!important;
        }
        div.ginput_complex.ginput_container label {
          color:$orange!important;
        }
        .gfield_label {
          //color:$orange!important;
        }
        .validation_message{
          color:$orange!important;
          font-weight: normal!important;
        }
      }
    }
    .gfield .gfield_label {
      font-weight: normal;
      font-size:1.3rem;
      @include media-breakpoint-up(md) {
        font-size:2rem;
      }
    }
    .gfield_required {
      color:$orange;
    }
    .gfield .ginput_container input[type=text],
    .gfield .ginput_container input[type=tel],
    .gfield .ginput_container input[type=email],
    .gfield .ginput_container textarea {
      background-color: transparent!important;
      border:none;
      border-bottom:2px solid $gray-800;
      font-size: 1rem!important;
      @include media-breakpoint-up(md) {
        font-size: 1.5rem!important;
      }

      &:focus {
        border-bottom-color: $orange;
        outline: 0;
      }
    }

    //radio buttons
    .gfield:not(.radio-box) ul.gfield_radio li {
      position: relative;

      label {
        font-size: 1rem;
        padding-left:2rem;
        display: block;
        @include media-breakpoint-up(md) {
          font-size: 1.5rem;
          padding-left:2.5rem;
        }
        &:before {
          content:"";
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 4rem;
          border:1px solid $gray-600;
          position: absolute;
          left: 0;
          @include media-breakpoint-up(md) {
            width: 2rem;
            height: 2rem;
          }
        }
      }
      input[type=text] {
        font-size: 1rem;
        @include media-breakpoint-up(md) {
          font-size: 1.5rem;
        }
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"]:checked+label {
        font-weight: normal;
        &:after {
          content:"";
          background-color:#fff;
          width: .8rem;
          height: .8rem;
          border-radius: 2rem;
          position: absolute;
          left: 0.35rem;
          top:.45rem;
          @include media-breakpoint-up(md) {
            width: 1.3rem;
            height: 1.3rem;
          }
        }
      }
    }// end of radio buttons

    .gfield.radio-box ul.gfield_radio {
      overflow: auto;

      li {
        width:100%;
        float:left;
        @include media-breakpoint-up(lg) {
          width:33%;
        }

        label {
          width: calc(100% - 1rem);
          max-width: none;
          padding:2rem 2rem;
          border:1px solid $gray-700;
          text-align: center;

          @include media-breakpoint-up(lg) {
            padding:4rem 2rem;
            margin-right:1rem;
            margin-bottom: 1rem;
          }
        }

        input[type="radio"] {
          display: none;
        }

        input[type="radio"]:checked+label {
          font-weight: normal;
          border-color:#fff;
        }
      }
    }

    //checkboxes
    .gfield ul.gfield_checkbox li {
      position: relative;

      label {
        font-size: 1rem;
        padding-left:2.5rem;
        display: block;
        @include media-breakpoint-up(md) {
          font-size: 1.5rem;
          padding-left:3rem;
        }
        &:before {
          content:"";
          width: 1.5rem;
          height: 1.5rem;
          border:1px solid $gray-600;
          position: absolute;
          left: 0;
          @include media-breakpoint-up(md) {
            width: 2rem;
            height: 2rem;
          }
        }
      }
      input[type=text] {
        font-size: 1.5rem;
      }
      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"]:checked+label {
        font-weight: normal;
        &:after {
          content:"\E5CA";
          background-color:#fff;
          width: 1rem;
          height: 1rem;
          position: absolute;
          left: 0.25rem;
          top:.25rem;
          font-family: 'Material Icons';
          color:$black;
          font-size:.8rem;
          text-align: center;
          @include media-breakpoint-up(md) {
            width: 1.5rem;
            height: 1.5rem;
            font-size:1.2rem;
          }
        }
      }
    }// end of checkboxes

    li.gfield select {
      background:none;
      border:none;
      border-bottom:2px solid #fff;
      outline:0;
      color:#fff;
      padding:1rem;
      font-size:1rem;
      border-radius: 0!important;
      width: 100%!important;
      //height: 45px;
      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
      }
    }

    // submit button
    input[type=submit].gform_button {
      background-color: transparent!important;
      color:$gray-900;
      border:1px solid $gray-900;
      text-transform: uppercase;
      padding: .5rem;
      font-size:1.3rem;
      @include media-breakpoint-up(md) {
        font-size: 2rem;
        padding: 1rem 2rem;
      }

      &:hover {
        background-color: $gray-900!important;
        color:#fff!important;
        cursor: pointer;
      }
    }// end of submit button

  }// end of form
}// endo of gform_wrapper

.section-dark, .section-cta {
  .gform_wrapper {
    .gfield .gfield_label {
      color:#fff;
    }
    .gfield .ginput_container input[type=text],
    .gfield .ginput_container input[type=tel],
    .gfield .ginput_container input[type=email],
    .gfield .ginput_container textarea {
      color:#fff!important;
      border-bottom:2px solid #fff;
    }
    input[type=submit].gform_button {
      color:#fff!important;
      border:1px solid #fff;

      &:hover {
        background-color: #fff!important;
        color:$gray-900!important;
      }
    }
  }
}

.gform_wrapper table.gfield_list td.gfield_list_icons img {
  filter: invert(.8);
}

// Connect card styles
.gform_wrapper #field_7_21 {
  margin-bottom:1rem;
}
