.navbar.navbar-main.navbar-dark {
  background-color: #000;


  &.header-scrolled {
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
  }

  .navbar-brand {
    margin-right: 0;
    height: 50px;
    padding: 0;
    @include media-breakpoint-up(md) {
      height: 80px;
    }
    svg.hvc-logo {
      height: 50px;
      fill:#fff;
      @include media-breakpoint-up(md) {
        height: 80px;
      }
    }
  }

  .container {
    max-width:98vw;
  }

  .navbar-collapse {
    flex-basis: auto;
    @include media-breakpoint-down(md) {
      flex-basis: 100%;
    }
  }

  .navbar-toggler {
    border-radius: 0;
    border-color: $gray-900;

    span {
      font-size:.85rem;
      text-transform: uppercase;
      color:#fff;
      display: inline-block;
      margin-left: .5rem;
      position: relative;
      top:-5px;
    }
    i {
      color: $orange;
    }
    &:focus {
      outline: none;
      border-color: $gray-700;
    }
  }

  li a.nav-link {
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    font-family: interstate-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.125rem;
    &:hover {
      color:$orange;
    }
    @include media-breakpoint-up(md) {
      padding-left: 1rem;
      padding-right: 1rem;

    }
  }

  li.current-menu-item a.nav-link {
    color:$orange;
  }

  .dropdown-menu {
    border-radius: 0;
    border:none;
    padding: 1rem;
    min-width: 14rem;
    background: #000;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
    li a {
      line-height: 1.75rem;
      color: #fff!important;
      &:hover {
        background: none!important;
        color:$orange!important;
      }
    }
  }



  .menu-item-5618, .menu-item-5791 {

    @include media-breakpoint-up(lg) {
      margin-left:1rem;
    }
    a {
      padding: .5rem 1rem;
      text-transform: uppercase;
      background: $orange;
      color: $black!important;
      &:hover {
        color: $black!important;
        background: lighten($orange, 5);
      }
    }

  }

}

body {
  margin-top:66px;
  @include media-breakpoint-up(md) {
    margin-top:96px;
  }
}

.simple-banner .simple-banner-text a {
  text-decoration:underline!important;
}
