body.home {

  section.hero {
    height:calc(100vh - 66px);
    background-color:$black;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      height:calc(100vh - 96px);
    }

    &:before {
      position: absolute;
      content:"";
      width: 100vw;
      height: calc(100vh - 66px);
      background-size: cover;
      background-position: left bottom;
      background-repeat: no-repeat;
      background-image:url(/wp-content/themes/heartland-vineyard/images/home-hero.jpg);
      top:0;
      opacity: .5;
      @include media-breakpoint-up(md) {
        background-attachment: fixed;
        background-position: bottom center;
        height: calc(100vh - 96px);
      }
    }


    .container {
      //text-align: center;
      color: #fff;
      z-index: 50;
      max-width:1140px;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      position: absolute;
      h1 {
        font-size: 6rem;
        text-transform: uppercase;
        margin-bottom: .5rem;
        line-height: 1;

        @include media-breakpoint-down(md) {
          font-size: 3.5rem;
        }
      }
      p {
        margin-bottom:1rem;
      }

    }

    .btn {
      border-radius: 90rem;
      width: 60px;
      height: 60px;
      padding: 0;
      position: absolute;
      bottom: 3rem;
      left:calc(50% - 30px);
      i {
        font-size: 3rem;
        position: relative;
        top: 5px;
      }
      &:hover {
        background-color: $black;
        color: $white;
      }
    }

    .subheading {
      background: #000;
      color: $orange;
      font-size: 2.25rem;
      font-family: interstate-condensed, sans-serif;
      font-weight: 800;
      font-style: normal;
      text-transform: uppercase;
      padding: .5rem;
      display: inline-block;
      @include media-breakpoint-down(md) {
        font-size: 1.8rem;
      }
    }

  }
}
