.single {
  .page-header {
    @include media-breakpoint-up(md) {
      //position: sticky;
      //top:150px;
    }
  }

  .entry-title {
    margin-bottom:0;
    font-size:2.2rem;
    @include media-breakpoint-up(md) {
      font-size:3.2rem;
    }
  }
  .entry-subtitle {
    font-size:1.2rem;
    color:$gray-600;
    font-style: italic;
    margin-bottom:1rem;
  }
  .entry-date {
    font-size: .9rem;
  }

  img.wp-post-image {
    margin-bottom:2rem;
  }

}
