.split-hero {
  height: 50vh;
  //background-color:$gray-200;
  background-color:#111;
  color: #fff;
  @include media-breakpoint-up(lg) {
    height:70vh;
  }
  .split-hero--image {
    height:25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      height:50vh;
    }
    @include media-breakpoint-up(lg) {
      height:70vh;
    }

    &:before {
      position: absolute;
      content:"";
      width: 100%;
      height:70vh;
      background-color:#222;
      opacity: .8;
      top: 0;
      left: 0;
    }
  }
  .split-hero--header {
    text-align: center;

    h1 {
      font-size: 1.8rem;
      margin-bottom: .5rem;
      @include media-breakpoint-up(md) {
        font-size: 2.5rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 4rem;
        margin-bottom: 1rem;
      }
    }

    .page-header--intro {
      line-height: 1.3rem;
      @include media-breakpoint-up(md) {
        line-height: 2rem;
      }
    }

    span.badge {
      font-size: .8rem;
      font-weight: normal;
      padding: .5rem 1rem;
      border-radius: 0;
      margin-bottom: 1rem;
      margin-right:4px;
      text-transform: uppercase;
    }
  }
}
