.story-card {
  background-color:$gray-900;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  //filter: grayscale(1);
  color: #fff;
  text-align: center;
  position: relative;
  border: 2px solid #fff;
  border-left:0;
  border-right:0;
  min-height: 150px;

  &:hover {
    filter: grayscale(0);
  }

  @include media-breakpoint-up(md) {
    border: 6px solid #fff;
    min-height: 280px;
  }

  &.story-card-large {
    //height: 100%;
    .story-card--body {
      padding: 5rem 2rem;
      @include media-breakpoint-up(md) {
        padding: 12rem 3rem 2rem 3rem;
      }
      h4 {
        //font-size: 2rem;
      }
    }
  }
  &.story-card-cta {
    border:none;
  }

  &.story-card-post {
    h4 {
      margin-bottom: 0;
    }
    p.story-card--meta {
      font-size: .75rem;
      color:$gray-500;
    }
  }

  &.story-card-series {

    .story-card--body {
      background-color: rgba($gray-800, .6);
      span.btn {
        visibility: hidden;
      }
      &:hover {
        background-color: rgba($gray-800, .6);
        span.btn {
          visibility: visible;
        }
      }
    }
  }

  .badge {
    position: absolute;
    left: 0;
    top:0;
    border-radius: 0;
    font-size: .7rem;
    padding: .5rem .5rem;
    background: $gray-900;
    text-transform: uppercase;
    font-weight: 400;
    @include media-breakpoint-up(md) {
      //padding: .5rem 1rem
    }
  }
  .story-card--body {
    padding: 3rem 2rem;
    display: block;
    color: #fff;
    margin:0 -15px;
    transition: all .5s ease-in-out;
    height: 100%;
    cursor: pointer;
    background-color: rgba($gray-800, .8);
    @include media-breakpoint-up(md) {
      padding: 6.5rem 3rem;
    }
    &:hover {
      text-decoration: none;
      background-color: rgba($gray-800, .5);
      i {
        transform: translateX(5px);
      }
    }
    p {
      font-family: study, serif;
      font-weight: 400;
      font-style: normal;
    }
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom:.5rem;
    border-bottom: 1px solid #fff;
    @include media-breakpoint-up(md) {
      font-size: 2.5rem;
      line-height: 1;
      margin-bottom:1.5rem;
    }
    span {
      display: inline-block;
      border:1px solid #fff;
      padding: .5rem .75rem;
    }
    i {
      font-size: 1.4rem;
      position: relative;
      top:3px;
      transition: all .5s ease-in-out;
    }
  }

  &.story-card-new {
    background-image:url('/wp-content/themes/heartland-vineyard/images/story-new.jpg');
    .story-card--body {
      background-color: rgba($gray-800, .8);
      &:hover {
        text-decoration: none;
        background-color: rgba($gray-800, .5);
      }
    }
  }
  &.story-card-belong {
    background-image:url('/wp-content/themes/heartland-vineyard/images/story-belong.jpg');
    .story-card--body {
      background-color: rgba($gray-800, .8);
      &:hover {
        text-decoration: none;
        background-color: rgba($gray-800, .5);
      }
    }
  }
  &.story-card-hope {
    background-image:url('/wp-content/themes/heartland-vineyard/images/story-hope.jpg');
    background-position: right;
    .story-card--body {
      background-color: rgba($gray-800, .8);
      &:hover {
        text-decoration: none;
        background-color: rgba($gray-800, .5);
      }
    }
  }
  &.story-card-impact {
    background-image:url('/wp-content/themes/heartland-vineyard/images/story-purpose.jpg');
    .story-card--body {
      background-color: rgba($gray-800, .8);
      &:hover {
        text-decoration: none;
        background-color: rgba($gray-800, .5);
      }
    }
  }

  &.story-card-sunday-gathering {
    background-image:url('/wp-content/themes/heartland-vineyard/images/sunday-gathering-2021.jpg');
    .story-card--body {
      background-color: rgba($black, .6);
      &:hover {
        text-decoration: none;
        background-color: rgba($gray-800, .5);
      }
    }
  }

  &.story-card-kids {
    background-image:url('/wp-content/themes/heartland-vineyard/images/kidz-at-nite-2021.jpg');
    .story-card--body {
      background-color: rgba($black, .6);
      &:hover {
        text-decoration: none;
        background-color: rgba($gray-800, .5);
      }
    }
  }

  &.story-card-students {
    background-image:url('/wp-content/themes/heartland-vineyard/images/youth-2021.jpg');
    .story-card--body {
      background-color: rgba($black, .6);
      &:hover {
        text-decoration: none;
        background-color: rgba($gray-800, .5);
      }
    }
  }


  &.story-card-small-groups {
    background-image:url('/wp-content/themes/heartland-vineyard/images/community-groups-2021.jpg');
    background-position: top;
    .story-card--body {
      background-color: rgba($black, .6);
      &:hover {
        text-decoration: none;
        background-color: rgba($gray-800, .5);
      }
    }
  }

  &.story-card-equip-breakfasts {
    background-image:url('/wp-content/themes/heartland-vineyard/images/equip-breakfasts.jpg');
    background-position: center;
    .story-card--body {
      background-color: rgba($black, .6);
      &:hover {
        text-decoration: none;
        background-color: rgba($gray-800, .5);
      }
    }
  }

}
