.table {

  .row-border-bottom {
    border-bottom:3px solid $gray-700;
  }

}

.table.table-reopening {

  thead th {
    padding:.25rem;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  td, th {
    font-size: .9rem;
    line-height: 1.5rem;
  }

  tbody th {
    font-weight: 600;
    background-color: #111;
  }

  .active-phase {
    //border-left:2px solid $white;
  //  border-right:2px solid $white;
  }

  .active-phase-first {
    //border-top:4px solid $white;
  }
  .active-phase-last {
    //border-bottom:4px solid $white;
  }

  .phase-1 {
    //opacity: .25;
  }
  .phase-2,.phase-3,.phase-4 {
    //opacity:.3;
  }
  @include media-breakpoint-down(md) {
    .phase-2,.phase-3,.phase-4 {
      display: none;
    }
  }

  p {
    margin-bottom:.5rem;
  }

  ul {
    padding-left:1.25rem;
    margin:.5rem 0;

    li {
      font-size: .8rem;
      color:$gray-600;
    }
  }

  h4,h6 {
    margin-bottom: 0;
  }


}

.progress.progress-phases {
  background-color: $gray-800;
}

.phase-high {
  background-color: hsla(0, 100.00%, 47.06%, 1.00);
}
.phase-moderate {
  background-color: hsla(22.966507177033492, 98.12%, 58.24%, 1.00);
}
.phase-elevated {
  background-color: hsla(41.63265306122448, 100.00%, 61.57%, 1.00);
}
.phase-low {
  background-color: $primary;
}
