body {
  font-size: .9rem;
  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  margin-bottom:$spacer * 1.5;
  font-family: study, serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
}

h1, h2, .h1, .h2 {
  font-weight: 900;
}

.h1, h1 {
  font-size: 1.8rem;
  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}

.h1-home {
  color: $orange;
  font-size: 3rem;
  line-height: 1;
  @include media-breakpoint-up(md) {
    font-size: 5rem;
  }

  span {
    color:$gray-900;
    font-size: 2.25rem;
    display: block;
    font-family: interstate-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
  }
}

.h2, h2 {
  font-size: 2rem;
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
}

.h3, h3 {
  font-size: 1.2rem;
  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }
}

.text-small {
  font-size: smaller;
}

.link-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
