.simcal-calendar {
  //orange
  .simcal-events-calendar-5345 {
    .simcal-event {
      background-color: $orange;
    }
    .simcal-events-dots {
      background-color: $orange;
    }
  }
  //green
  .simcal-events-calendar-5347 {
    .simcal-event {
      background-color: $green;
    }
    .simcal-events-dots {
      background-color: $green;
    }
  }
  //blue
  .simcal-events-calendar-5346 {
    .simcal-event {
      background-color: $blue;
    }
    .simcal-events-dots {
      background-color: $blue;
    }
  }
  //purple
  .simcal-events-calendar-5348 {
    .simcal-event {
      background-color: $purple;
    }
    .simcal-events-dots {
      background-color: $purple;
    }
  }

}

.qtip.simcal-default-calendar.simcal-event-bubble {
  ul.simcal-events {
    padding-left:0;
  }
}
.simcal-event-details {
  a {
    //display: none;
  }
}
