.page-template-form-page {
  margin-top:0;
  background: #111;

  nav.navbar-main {
    position: static;
  }

  .navbar-nav {
    display: none;
  }
  .navbar-toggler {
    display: none;
  }

  footer .wrapper {
    display: none;
  }

  footer .contact-info {
    display: none;
  }

}
