.page-id-5647,
//.page-id-5312
{

  .simple-banner {
    display:none;
  }

  iframe {
    border:none;
  }

  .material-icons.give-icons {
    font-size: 3rem;
    border:5px solid #fff;
    border-radius: 50rem;
    padding:1rem;
    margin-bottom:1rem;
  }

  section.wrapper {
    h2 {
      margin-bottom: 3rem;
    }
    h2 span {
      color:$orange;
    }
    h3 {
      color: $orange;
    }

  }




}
